.host {
  display: flex;
  align-items: center;
  align-content: stretch;
  min-height: 50vh;
  padding-block: 2rem;
  margin-block-end: 1.5rem;
  box-sizing: border-box;
  background-color: var(--brand-color);
  color: #ffffff;
}

.inner {
  width: 100%;
}

.digit {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1;
}

.title {
  word-break: break-word;
}
