.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem 2rem;
  padding-inline: var(--page-padding);
  box-sizing: border-box;
  min-height: 65vh;
  background-color: var(--body-color);
  color: #ffffff;
  font-size: 200%;

  h1 {
    position: relative;
  }

  @media (min-width: 1024px) {
    min-height: 50vh;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--body-color);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 100% 4rem;
  opacity: 0.9;
  background-repeat: no-repeat;
  animation: 500ms fadeId forwards ease-out;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section {
  display: grid;
  align-items: start;
  padding-block: 4rem 0;
  padding-inline: 2rem;
  box-sizing: border-box;
  grid-row-gap: 1rem;

  &.end {
    padding-block-end: 1rem;
    p {
      grid-row: 1/2;
    }
  }

  @media (min-width: 1024px) {
    grid-gap: 3rem;

    &.start {
      grid-template-columns: auto 34%;

      .illustration {
        transform: translate(-0.5rem, 0.5rem);
        box-shadow: 0 0 0 var(--brand-color);

        &.visible {
          animation-name: animateRight;
        }
      }
    }
    &.end {
      grid-template-columns: 34% auto;
      .illustration {
        transform: translate(0.5rem, 0.5rem);
        box-shadow: 0 0 0 var(--brand-color);

        &.visible {
          animation-name: animateLeft;
        }
      }
      p {
        grid-row: auto;
      }
    }
  }
}

.lead {
  font-size: 1.25rem;
  line-height: 1.75;
  opacity: 0;
  transform: translateY(2rem);
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

  &.visible {
    animation-name: moveUp;
  }
}

.goal {
  line-height: 1;
  font-family: var(--sans-serif-font-family);
  font-size: 6rem;
  color: var(--brand-color);
  animation: 300ms moveUp forwards ease-out;

  @media (min-width: 1024px) {
    margin-block-start: 1rem;
  }
}

.illustration {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  aspect-ratio: 4/5;
  box-shadow: 1rem 1rem 0 var(--brand-color);
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
}

@keyframes animateRight {
  from {
    transform: translate(-0.5rem, 0.5rem);
    box-shadow: 0 0 0 var(--brand-color);
  }
  to {
    transform: translate(0rem, 0rem);
    box-shadow: -1rem 1rem 0 var(--brand-color);
  }
}

@keyframes animateLeft {
  from {
    transform: translate(0.5rem, 0.5rem);
    box-shadow: 0 0 0 var(--brand-color);
  }
  to {
    transform: translate(0rem, 0rem);
    box-shadow: 1rem 1rem 0 var(--brand-color);
  }
}

@keyframes fadeId {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.45;
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
