.host {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  margin-block: 1.5rem;

  @media (min-width: 1024px) {
    &:not(.single) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.navItem {
  display: block;
  padding: 1rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  text-decoration: none;
  color: currentColor;
  transition: 250ms;

  &:hover {
    background-color: var(--brand-background);
    color: currentColor;
  }
}

.label {
  margin-block-end: 0.25rem;
  line-height: 1;
  font-size: 0.75rem;
  font-family: var(--sans-serif-font-family);

  svg {
    vertical-align: top;
  }
}
