.host {
  display: inline-flex;
  align-items: center;
  column-gap: 1ch;
  line-height: 1;
  font-family: var(--sans-serif-font-family);
  --cell-size: 2rem;
}

.track {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 0.5rem;
  width: calc(5 * var(--cell-size));
  background-color: var(--body-background);
  box-sizing: border-box;
  border-radius: 0.25rem;
  overflow: hidden;
}

.cell {
  position: relative;
  border-right: 1px solid #ffffff;
  opacity: 0.5;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--body-color);
}

.icon {
  font-size: 1.25rem;
}
