.host {
  position: relative;
  margin-inline-start: 3.5rem;
  margin-inline-end: 0;
  margin-block: 2rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 1.25rem;
  background-color: var(--brand-background);
}

.author {
  padding-block: 0;
  font-family: var(--sans-serif-font-family);
  font-weight: 700;
}

.body {
  margin-block: 0;
  margin-inline: 0;
  padding-block-end: 0.25rem;

  p {
    margin-block: 0;
  }
}

.avatar {
  position: absolute;
  left: -3.5rem;
  top: 0;
  display: block;
  border: 0.25rem solid transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: var(--body-background);
  font-size: 3rem;
}
