.mapContainer {
  height: 80vh;
  min-height: 300px;
  max-height: 800px;
}

.placeholder {
  background-color: #dddddd;
  font-size: 12px;
  text-align: center;
  color: var(--body-color);
}

.indicator {
  display: inline-block;
  height: 0.2rem;
  width: 2rem;
  vertical-align: middle;
}

.legend {
  margin-block: 1rem;
}
