.host {
  margin-block: 1rem;
}

.list {
  display: grid;
  grid-gap: 1rem;
  padding-left: 0;
  margin: 0;
  list-style: none;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  height: 100%;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: currentColor;
  }
}

.item {
  margin-block-start: 0;
}
