.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--sans-serif-font-family);

  :any-link {
    color: var(--brand-color);
    text-decoration: none;
  }

  &.inverse {
    position: absolute;
    z-index: 1;
    color: #ffffff;
    :any-link {
      color: #ffffff;
    }
  }
}

.logo {
  line-height: 1;
  padding-block: 0.25rem;
}

.content {
  flex-grow: 1;
}

.footer {
  display: grid;
  grid-gap: 1rem;
  background-color: var(--body-color);
  color: #ffffff;
  padding: 2rem 1rem 4rem;

  :any-link {
    color: inherit;
  }

  @media (min-width: 1024px) {
    grid-gap: 2rem;
    grid-template-columns: 50% minmax(200px, auto) auto;
  }
}

.button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  color: currentColor;
  font-family: inherit;
}

.line {
  display: block;
  height: 2px;
  width: 1.5ch;
  background-color: currentColor;

  &:last-child {
    margin-block-start: 4px;
    width: 75%;
  }
}

.burger {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  vertical-align: top;
  height: 1rem;
  pointer-events: none;
}

.list {
  padding-left: 0;
  list-style: none;
}
