.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
  transform: translateX(100%);
  box-shadow: 0 0 1rem -0.25rem rgba(#000000, 0%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-duration: 225ms;
  @media (min-width: 1024px) {
    transition-duration: 175ms;
  }

  &.open {
    transform: translateX(0%);
    box-shadow: 0 0 1rem -0.25rem rgba(#000000, 25%);
  }
}

.body {
  padding-block: 1rem;
  box-sizing: border-box;
  max-width: 428px;
  width: 100vw;
  height: 100%;
  margin-inline-start: auto;
  background-color: #ffffff;
  overflow-y: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li + li {
    margin-block-start: 0;
  }
}

.link {
  display: block;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--body-color);
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: var(--brand-background);
    color: currentColor;
  }

  &.active {
    color: var(--brand-color-dark);
    background-color: var(--brand-background);
  }
}

.close {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: 1.5rem;
  margin-block-start: 1rem;
  font-family: var(--sans-serif-font-family);
  font-size: 1rem;
  color: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  letter-spacing: 0.05em;
  background-color: transparent;

  &:hover {
    background-color: var(--brand-background);
  }

  @media (min-width: 1024px) {
    display: none;
  }

  svg {
    vertical-align: top;
  }
}
