.intro {
  text-align: center;
}

.title {
  margin-block-start: 0;
  font-size: 2rem;
  text-wrap: balance;
}

.actions {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  margin-block-start: 2rem;
}

.action {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ffffff;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.1em;
  transition: 175ms;

  &:hover {
    background-color: rgba(#ffffff, 10%);
    color: currentColor;
  }

  &.primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);

    &:hover {
      background-color: var(--brand-color-dark);
      border-color: var(--brand-color-dark);
    }
  }
}
