.breadcrumbs {
  padding-block: 0.25rem;
  font-size: 0.75rem;
}

.path {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.item {
  display: inline;

  & + & {
    margin-block-start: 0;
    margin-inline-start: 0.5em;
    &:before {
      content: '›';
      margin-inline-end: 0.5em;
      display: inline-block;
      line-height: 1;
    }
  }
}

.link {
  max-width: 20ch;
}
