.host {
  & + & {
    margin-top: 1.5rem;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 14rem auto;
    grid-column-gap: 1rem;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: var(--sans-serif-font-family);
}

.summary {
  margin-block-start: 0.25rem;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.list {
  list-style: none;
  padding-left: 0;
  line-height: 1;
}
