$body-color: #1a1717;
$brand-color: #cc3333;
$brand-color-dark: darken($brand-color, 10%);
$secondary-color: #2d4989; // 60deg from the brand color on wheel
$secondary-color-dark: darken($secondary-color, 10%);
$border-color: lighten($body-color, 75%);

$body-background: rgba($body-color, 4%);
$brand-background: rgba($brand-color, 5%);

:root {
  --page-padding: 1rem;
  --body-color: #{$body-color};
  --brand-color: #{$brand-color};
  --brand-color-dark: #{$brand-color-dark};
  --border-color: #{$border-color};
  --priority-1-color: #f3518c; // large text only
  --priority-2-color: #e4a11c; // not accessible
  --priority-2-color-alt: #c08716; // large text only
  --priority-3-color: #05a239; // large text only
  --priority-4-color: #8656ee; // accessible
  --brand-background: #{$brand-background};
  --body-background: #{$body-background};
  --system-font: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  --system-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --sans-serif-font-family: Geologica, 'Google Sans', Avenir, var(--system-font),
    var(--system-emoji);
  --serif-font-family: Literata, 'Noto Serif', Georgia, serif,
    var(--system-emoji);
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(16px, 0.625vw + 14px, 24px);
  font-family: var(--serif-font-family);
  color: var(--body-color);
}

.container {
  padding-inline: var(--page-padding);
  max-width: 60ch;
  margin-inline: auto;
}

.fluid-container {
  padding-inline: var(--page-padding);
}

.section {
  padding-block-end: 2rem;
}

@mixin h {
  font-family: var(--sans-serif-font-family);
  font-weight: 500;
}
@mixin h1 {
  @include h;
}
@mixin h2 {
  @include h;
}

.h1,
h1 {
  @include h1;
}

.h2,
h2 {
  @include h2;
}

.caption {
  font-size: 0.75rem;
}

li + li {
  margin-block-start: 0.5em;
}

.table-wrapper {
  overflow: auto;
}
.table {
  border-collapse: collapse;
  td,
  th {
    border: 1px solid var(--border-color);
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    vertical-align: top;
  }
  &.last-numeric {
    td:last-child {
      text-align: end;
    }
  }
  &.compact {
    font-size: 0.75rem;
  }
}

// shows abbr title as inline content on touch screens
abbr[title] {
  cursor: help;

  &:hover:after {
    content: ' (' attr(title) ')';
  }

  @media (min-width: 1024px) {
    &:hover:after {
      content: initial;
    }
  }
}

dfn {
  font-weight: bold;
  font-style: normal;
}

// link color must have high contrast ratio to body text
// use this tool to check https://webaim.org/resources/linkcontrastchecker
$link-color: lighten($secondary-color, 12%);

a {
  color: $link-color;
}

a:hover {
  color: $secondary-color;
}
