.section {
  position: relative;
  padding-block-start: 2rem;

  @media (min-width: 1024px) {
    padding-block-start: 0;
    padding-block-end: 1rem;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--body-color);
  opacity: 0.4;
  z-index: 0;
}

.grid {
  display: grid;
  padding-inline: var(--page-padding);
  grid-row-gap: 3rem;

  @media (min-width: 1024px) {
    grid-template-columns: 66% 34%;
  }
}

.content {
  @media (min-width: 1024px) {
    padding-block-start: 4rem;
  }
}

.illustration {
  position: relative;

  @media (min-width: 1024px) {
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--brand-color);
      aspect-ratio: 3/4;
      transform: translate(-0.5rem, 0.5rem);
      animation: 500ms frameMove ease-in-out forwards;
      animation-delay: 300ms;
    }
  }
}

.image {
  position: relative;
  display: block;
  margin-inline-start: calc(-1 * var(--page-padding));
  margin-inline-end: calc(-1 * var(--page-padding));
  width: 100vw;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;

  @media (min-width: 1024px) {
    width: 100%;
    aspect-ratio: 3/4;
    margin-inline-start: 0;
    transform: translate(-0.5rem, 0.5rem);
    animation: 500ms imageMove ease-in-out forwards;
    animation-delay: 300ms;
  }
}

@keyframes imageMove {
  from {
    transform: translate(-0.5rem, 0.5rem);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes frameMove {
  from {
    transform: translate(-0.5rem, 0.5rem);
  }
  to {
    transform: translate(-1rem, 1rem);
  }
}

.title {
  margin-block-end: 1em;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  animation: 400ms titleMove ease-out forwards;
}

@keyframes titleMove {
  from {
    transform: translateY(75%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.lead {
  max-width: 36ch;
  font-size: 125%;
  line-height: 1.75;
  margin-inline: auto;
  animation: 400ms leadMove ease-out forwards;
  animation-delay: 250ms;
  transform: translateY(1rem);
  opacity: 0;

  em {
    color: var(--brand-color);
    font-style: normal;
    font-weight: bold;
  }
}

@keyframes leadMove {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
