.sorting {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.5rem;
  margin-block: 1rem;
}

.button {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid var(--border-color);
  letter-spacing: 0.05em;
  border-radius: 0.25rem;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: 175ms;

  &:hover {
    background-color: var(--body-background);
  }

  &.active {
    border-color: var(--body-color);
    color: #ffffff;
    background-color: var(--body-color);
  }
}
