.section {
  padding-block-end: 2rem;

  dt {
    display: inline;
    &:after {
      content: ' — ';
    }

  }
  dd {
    display: inline;
    margin-left: 0;
    &:not(:last-child):after {
      content: '';
      display: block;
      height: 0.75rem;
    }
  }
}
