.host {
  display: inline-block;
  height: 0.25rem;
  width: 2rem;
  vertical-align: middle;
}

.priority1 {
  background-color: var(--priority-1-color);
}
.priority2 {
  background-color: var(--priority-2-color-alt);
}
.priority3 {
  background-color: var(--priority-3-color);
}
.priority4 {
  background-color: var(--priority-4-color);
}
